*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --action-color: rgba(205, 31, 71, 1);
    --primary-bcolor: rgba(5, 35, 63, 1);
    --secundary-bcolor: rgba(230, 228, 228, 1);
    --details-bcolor: rgba(99, 99, 99, 1);
    --h-color:  rgba(230, 228, 228, 1);
    --p-color: rgba(5, 35, 63, 1);;
    --otherletters-color: rgba(127, 127, 127, 1);
    --header-size: 3.5rem;
    --sub-size: 2.5rem;
    --p-size: 1.8rem;
    --border-radius: .5rem;
}

/* Mobile */

header{
        height: 6vh;
        width: 100vw;
        background-color: var(--primary-bcolor);
        border-bottom: solid .1rem var(--h-color);
    }

header .content-section-icon #menu-btn{
    display: none;   
}

header .content-section-icon .menu-btn{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-bcolor);
    color: var(--p-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

header .content-section-icon .icon-menu{
    font-size: var(--header-size);
    color: var(--action-color);
}

header .content-section-icon .content-menu{
    position: fixed;
    z-index: 1;
    background-color: var(--secundary-bcolor);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#menu-btn:checked ~ .content-menu{
    visibility: visible;
}

header .content-section-icon .content-menu
ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

header .content-section-icon .content-menu
li {
    list-style: none;
    border-bottom: solid .1rem var(--action-color);
    text-align: center;
}

header .content-section-icon .content-menu
a {
    text-decoration: none;
    font-size: var(--sub-size);
    color: var(--p-color);
}

/* pagina de inicio */
main .content-tools{
    background-color: var(--primary-bcolor);
    height: 90vh; 
    width: 100vw;
}

main .content-tools h1{
    color: var(--h-color);
    font-size: var(--header-size);
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
}

main .content-tools .content-btn{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .content-tools a{
    background: var(--action-color);
    color: var(--h-color);
    font-size: var(--p-size);
    font-weight: bold;
    text-decoration: none;
    height: 5rem;
    width: 30rem;
    border-radius: .5rem;
    box-shadow: 0px 3px 0px var(--otherletters-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content-tools a:hover{
    background: var(--details-bcolor);
    box-shadow: 0px 3px 0px var(--action-color);
}


/* CONTACTO */

main .content-contact{
    width: 100vw;
    height: 100vh;
    background-color: var(--secundary-bcolor);
}

main .content-contact .content-cap-pic{
    width: 100%;
    height: 60%;
}

main .content-contact .content-cap-pic .content-pic{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content-contact img{
    width: 15.5rem;
    height: 15rem;
    border-radius: 100%;
}

main .content-contact .greetings-box{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: var(--sub-size);
    font-weight: bold;
    color: var(--p-color);
}

main .content-contact .caption-box{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--p-size);
    color: var(--otherletters-color);
}

/* Botones */

main .content-contact-meet, .content-contact-sm{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content-contact-meet label{
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--action-color);
    color: var(--h-color);
    font-size: var(--sub-size);
}

main .content-contact-sm label{
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bcolor);
    color: var(--h-color);
    font-size: var(--sub-size);
}

main .content-nav-contact ul{
    width: 20rem;
    height: 7rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .content-nav-contact a{  
    text-decoration: none;
    font-size: var(--header-size);
    color: var(--otherletters-color);
}

main .content-nav-contact a:hover{
    color: var(--primary-bcolor);
}


main .content-nav-follow ul{
    width: 30rem;
    height: 7rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .content-nav-follow a{  
    text-decoration: none;
    font-size: var(--header-size);
    color: var(--otherletters-color);
}

main .content-nav-follow a:hover{
    color: var(--primary-bcolor);
}


/* Ocultar botones */

#conectemos-btn, #follow-btn{
    display: none;
}

main .content-contact-meet .content-nav-contact{
    visibility: hidden;
}

#conectemos-btn:checked ~ .content-nav-contact
{
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}


main .content-contact-sm .content-nav-follow{
    visibility: hidden;
}

#follow-btn:checked ~ .content-nav-follow
{
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* footer */

footer{
    width: 100vw;
    height: 50vh;
    background-color: var(--primary-bcolor);
}

footer .content-copyright{
    width: 100%;
    height: 30%;
    font-size: var(--p-size);
    color: var(--h-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-copyright a{
    text-decoration: none;
    font-style: none;
    color: var(--h-color);    
}

footer .content-politicas{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

footer .content-politicas ul{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

footer .content-politicas li{
    list-style: none;
    background-color: var(--otherletters-color);
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--h-color);
}


footer .content-politicas a{
    text-decoration: none;
    font-size: var(--p-size);
    color: var(--h-color);
}

